@page
@model PharmaceuticalManagement_NguyenHoangHai.Pages.MedicineInformations.IndexModel

@{
    ViewData["Title"] = "Index";
}

@{
    string? email = HttpContext.Session.GetString("Email");
    int? role = HttpContext.Session.GetInt32("RoleId");

    if (email == null || (role != 3 && role != 2))
    {
        TempData["ErrorMessage"] = "You do not have permission to do this function";
        Response.Redirect("/Error");
    }
}

<h1>Index</h1>
@if (TempData["Message"] != null)
{
    <h2 class="text-info"> @TempData["Message"] </h2>
}

@if (role == 2)
{
    <p>
        <a asp-page="Create">Create New</a>
    </p>
}
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.MedicineInformation[0].MedicineName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MedicineInformation[0].ActiveIngredients)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MedicineInformation[0].ExpirationDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MedicineInformation[0].DosageForm)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MedicineInformation[0].WarningsAndPrecautions)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MedicineInformation[0].Manufacturer)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.MedicineInformation) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.MedicineName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ActiveIngredients)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ExpirationDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DosageForm)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WarningsAndPrecautions)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Manufacturer.ManufacturerId)
            </td>
            <td>
                
                    @if (role == 2)
                    {
                        <a asp-page="./Edit" asp-route-id="@item.MedicineId">Edit</a>
                        <a asp-page = "./Delete" asp-route-id="@item.MedicineId"> Delete </a>
                    }
            </td>
        </tr>
}
    </tbody>
</table>

<ul class="pagination">
    @for (var i = 1; i <= Model.TotalPages; i++)
    {
        <li class="page-item @(i == Model.PageIndex ? "active" : "")">
            <a class="page-link" asp-route-pageIndex="@i">@i</a>
        </li>
    }
</ul>